Jinglematic/output files/
Jinglematic/source files/
Jinglematic/.ipynb_checkpoints/Jinglematic-checkpoint.py
Jinglematic/__pycache__/Jinglematic.cpython-38.pyc
Jinglematic_webapp/Jinglematic_webapp.py
